# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# .gitignore
.env
.env.local
.env.*.local
*.env
secrets/
credentials/

.env
*.pyc
__pycache__/
db.sqlite3
/media/
/staticfiles/
logs

*.http
# IDE / OS
.vscode/
.idea/
.DS_Store
